.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wassup{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}

.main {
  padding: 1rem;
  margin: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 60%;
  border: 2px solid purple;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.formChat {
  height: 10vh;
  border-radius: 1rem;
  background-color: white;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.formChat button {
  width: 20%;
  background-color: purple;
}

.inputChat {
  margin: 1rem;
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.s{
color:white;
}

.buttonChat {
  background-color: purple; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.buttonChat:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.pChat {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  width: 50rem;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.imgChat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
