.chat-user-name{
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-profile{
    width: 20rem;
    height: 6rem;
   margin: 1rem;
   background-color: transparent;
   color: #fff;
   border: 1px solid white;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

span{
    color:#fff;
}

.chat-user{
    height: 5rem;
    width: auto;
    color: #fff !important;
    padding: 1rem 1rem 0 1rem;
}