.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-main {
  height: 30rem;
  width: 55%;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 1px solid purple;
  color:purple;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.profile-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.profile-image-div {
  height: 10rem;
  width: 25%;
  border:2px solid purple;
  background-color: white;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile-image-div:hover{
    cursor: pointer;
}

.profile-image{
    height:100%;
    width:100%;
    border-radius:10rem;
}

.profile-name-bio {
  height: 10rem;
  width: 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border:1px solid purple;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile-no-of-tweets,
.profile-no-of-posts,
.profile-no-of-followers,
.profile-no-of-following {
  height: 8rem;
  width: 18%;
  border:1px solid purple;
  background-color: white;
  border-radius:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.5s background-color;
}

.profile-no-of-tweets:hover,
.profile-no-of-posts:hover,
.profile-no-of-followers:hover,
.profile-no-of-following:hover{
    border:2px solid white;
    background-color: purple;
    color:white;
    cursor:pointer;
}


.tweets-liked-done{
  width:60%;
}


.selection{
  margin: 1.5rem;
  background-color:white !important;
  border:2px solid purple;
  border-radius: 1rem;
}



/* 
#btn_cont{
  position: relative;
  margin: 0 auto;
  margin-top: 10%;

  
  width: 300px;
  border: 2px solid #fff;
  height: 30px;
}
.btn{
  display: block;
  position: absolute;
  float: left;
  width: 141px;
  height: 0;
  cursor: pointer;  
}
.btn:nth-child(1){
  border-bottom: 30px solid #7223c7;
  border-right: 20px solid transparent;
  left: 0px;
  z-index: 1;
}
.btn:nth-child(1):hover{
  border-bottom: 30px solid #fff;
  color: #c72385;
}
.btn:nth-child(2){
  border-left: 20px solid transparent;
  border-top: 30px solid #8523c7;
  right: 0px;
  z-index: 2;
}
.btn:nth-child(2):hover{
  border-top: 30px solid #fff;
  color: #9823c7;
}

.btn:nth-child(2):before{
  border-right: 2px solid #fff;
  content: "";
  height: 40px;
  position: absolute;
  right: 150px;
  top: -35px;
  transform: rotate(-34deg) translateZ(0px);
}
.btn span{
  position: relative;
  float: left;
  top: 7px;
  width: 100%;
  height:auto;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.btn:hover span{
  color: #a123c7;
}
.btn:nth-child(2) span{
   top: -23px;

} */









.container {
  align-items: center;
  background: #eeedef;
  display: flex;
  height: 160px;
  justify-content: center;
  position: relative;
  width: 360px;
}
.bar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  left: 0;
  padding: 0 21px;
  position: absolute;
  width: 100%;
}
.bar-purple {
  background: #6000ea;
  color: white;
  clip-path: polygon(
    360px 0,
    360px 32px,
    43px 32px,
    39.775442px 31.67494px,
    36.772078px 30.74264px,
    34.054248px 29.26745px,
    31.686292px 27.31371px,
    29.732549px 24.94575px,
    28.257359px 22.22792px,
    27.325063px 19.22456px,
    27px 16px,
    27.325063px 12.77544px,
    28.257359px 9.77208px,
    29.732549px 7.05425px,
    31.686292px 4.68629px,
    34.054248px 2.73255px,
    36.772078px 1.25736px,
    39.775442px 0.32506px,
    43px 0
  );
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  line-height: 142px;
  text-align: center;
  width: 33.33%;
}
.bar-outer {
  clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    104px 32px,
    107.22456px 31.67494px,
    110.22792px 30.74264px,
    112.94575px 29.26745px,
    115.31371px 27.31371px,
    117.26745px 24.94575px,
    118.74264px 22.22792px,
    119.67494px 19.22456px,
    120px 16px,
    119.67494px 12.77544px,
    118.74264px 9.77208px,
    117.26745px 7.05425px,
    115.31371px 4.68629px,
    112.94575px 2.73255px,
    110.22792px 1.25736px,
    107.22456px 0.32506px,
    104px 0
  );
  height: 32px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    149px 32px,
    145.775442px 31.67494px,
    142.772078px 30.74264px,
    140.054248px 29.26745px,
    137.686292px 27.31371px,
    135.732549px 24.94575px,
    134.257359px 22.22792px,
    133.325063px 19.22456px,
    133px 16px,
    133.325063px 12.77544px,
    134.257359px 9.77208px,
    135.732549px 7.05425px,
    137.686292px 4.68629px,
    140.054248px 2.73255px,
    142.772078px 1.25736px,
    145.775442px 0.32506px,
    149px 0
  );
}
.bar-outer.pos2 {
  clip-path: polygon(
    0 0,
    0 32px,
    210px 32px,
    213.22456px 31.67494px,
    216.22792px 30.74264px,
    218.94575px 29.26745px,
    221.31371px 27.31371px,
    223.26745px 24.94575px,
    224.74264px 22.22792px,
    225.67494px 19.22456px,
    226px 16px,
    225.67494px 12.77544px,
    224.74264px 9.77208px,
    223.26745px 7.05425px,
    221.31371px 4.68629px,
    218.94575px 2.73255px,
    216.22792px 1.25736px,
    213.22456px 0.32506px,
    210px 0
  );
}
.bar-outer.pos3 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    256px 32px,
    252.775442px 31.67494px,
    249.772078px 30.74264px,
    247.054248px 29.26745px,
    244.686292px 27.31371px,
    242.732549px 24.94575px,
    241.257359px 22.22792px,
    240.325063px 19.22456px,
    240px 16px,
    240.325063px 12.77544px,
    241.257359px 9.77208px,
    242.732549px 7.05425px,
    244.686292px 4.68629px,
    247.054248px 2.73255px,
    249.772078px 1.25736px,
    252.775442px 0.32506px,
    256px 0
  );
}
.bar-outer.pos3 {
  clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    317px 32px,
    320.22456px 31.67494px,
    323.22792px 30.74264px,
    325.94575px 29.26745px,
    328.31371px 27.31371px,
    330.26745px 24.94575px,
    331.74264px 22.22792px,
    332.67494px 19.22456px,
    333px 16px,
    332.67494px 12.77544px,
    331.74264px 9.77208px,
    330.26745px 7.05425px,
    328.31371px 4.68629px,
    325.94575px 2.73255px,
    323.22792px 1.25736px,
    320.22456px 0.32506px,
    317px 0
  );
}
.bar-outer.left .bar-purple {
  transition-delay: 0;
}
.bar-outer.left {
  transition-delay: 80ms;
}
.bar-outer.right .bar-purple {
  transition-delay: 80ms;
}
.bar-outer.right {
  transition-delay: 0;
}