button {
  height: auto;
  width: auto;
  padding: 0.5rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: white;
  color: purple;
  float: right;
  cursor: pointer;
  transition: all 0.8s;
}

button:hover {
  transform: translateY(-5px);
}
