.tweetpage{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.main-tweetpage{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.commentDiv {
    display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
}

.likeDiv{
    display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
}

.retweetDiv{
    display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
}