.tweetpage{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.main-tweetpage{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}